* {
    font-family: Lato;
    max-width: 1895px;
}

header {
    width: 1880px;
    height: 850px;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10);
}

.header-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    padding-left: 300px;
    margin-bottom: -40px;
}

.header-title {
    padding-top: 150px;
    padding-left: 240px;
    padding-bottom: 146px;
}


.header-title h1 {
    width: 660px;
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 0px;
}

.header-title p {
    width: 634px;
    height: 90px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 32;
}

.btn-header {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border: #E55473;

}

/*main section start */

main {
    width: 1800px;
    height: 3450px;
    background: #FFF;
}

/*flower feature */
.featured-flower h2,
.instagram h2 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 150px;
    margin-left: 150px;

}

.featured-flower>p,
.instagram>p {
    width: 594px;
    height: 30px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400px;
    line-height: 30px;
    padding-left: 663px;
}

.featured-flower-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 50px;
    padding-left: 70px;
}

.img-flower2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0 0;
    background: rgba(167, 33, 98, 0.15);
}

.img-flower3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0 0;
    background: rgba(5, 151, 160, 0.15);
}

.img-flower4 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0 0;
    background: rgba(71, 125, 17, 0.15);
}

.img2 {
    width: 310px;
    height: 428px;
    flex-shrink: 0;
    padding-bottom: 0px;
    padding-left: 76px;
    padding-top: 110px;
}

.img3 {
    width: 370px;
    height: 370px;
    flex-shrink: 0;
    padding-top: 117px;
    padding-left: 47px;
    margin-bottom: 58px;
}

.img4 {
    width: 314px;
    height: 471px;
    flex-shrink: 0;
    padding-top: 65px;
    padding-left: 70px;
    padding-bottom: 10px;
}

.img-flower2 h3,
.img-flower3 h3,
.img-flower4 h3 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

/*service section start*/
.service {
    width: 1450px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 220px;
    margin-left: 210px;
}

.service-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 170px;
    padding-top: 70px;
}

.service-info-each img {
    padding-left: 80px;

}

#serv-img3 {
    padding-left: 40px;
}

/*dicount section */
.discount {
    width: 1900px;
    height: 620px;
    margin-top: 150px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.discount-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

#discount-img {
    width: 318px;
    height: 420px;
    padding-left: 300px;
    padding-top: 100px;

}

.discount-title h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.discount-span {
    color: #E55473;
}

.discount-title p {
    width: 590px;
    position: relative;
    left: -30px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.sign-btn {
    display: inline-flex;
    margin-left: 175px;
    margin-top: 30px;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: #E55473;

}

/*instagram section*/
.instagram {
    margin-top: 120px;
}

.instagram-img {
    padding-top: 70px;
    padding-left: 220px;
    display: flex;
    gap: 30px;
}

/*latest deals section*/
.latest-deals {
    background-image: url(/imgpng/deals\ pic.png);
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    border-radius: 8px;
    margin-left: 230px;
    margin-top: 130px;
}

.latest-deals h2 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 100px;

}

.latest-deals p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: -20px;
}

.email-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    gap: 20px;
}

.email-btn input {
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: #FFF;
    color: rgba(39, 39, 39, 0.60);
    text-align: left;
    padding-left: 20PX;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

}

.Sub-btn {
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700px;
    border: #E55473;
}

footer {
    width: 1922px;
    height: 449px;
    flex-shrink: 0;
    background: #111010;
}

footer h2 {
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    padding-top: 128px;
}
footer span{
    color: #E55473;
}
footer>p {
    width: 625px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 650px;

}

footer h5 {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}